<p style="font-size: 3rem; margin-top: 150px;"><strong>Thanks for subscribing!<br> You have successfully subscribed.</strong></p>
<p style="margin-bottom: 150px;">In the following hours you will be receiving your first Web performance report in your inbox.</p>